
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*For the gallery.html page*/
/*This will line everything in the container tag into one column*/
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0px 20px;
}

/*Styling for the heading*/
.container .heading{
  font-size: 3em;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #222;
}

/*Creating the 3 columns*/
.container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*Styling the columns*/
.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}











/*
h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: tomato;
}

h2 {
  color: tomato;
}

img {
  max-height: 50%;
  width: 100%;
}

body {
  background-image: url("./MEAT AND POTATOES/images/onmyputer.jpg");
}

body {
  background-image: url("../MEAT AND POTATOES/images/onmyputer.jpg");
}
*/

