
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*For the gallery.html page*/
/*This will line everything in the container tag into one column*/
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 40px 20px 0px 20px;
}

/*Styling for the heading*/
.container .heading{
  padding-bottom: 50px;
}

/*Creating the 3 columns*/
.container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Styling the columns*/
.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

/*Styling the individual images (adding padding, image width within the column)*/
.container .box .dream img{
  width: 100%;
  padding-bottom: 10px;
  border-radius: 5px;
}

/*Making the page responsive*/
@media only screen and (max-width: 769px){
  .container .box{
    flex-direction: column;
  }
  .container .box .dream{
    width: 100%;
  }
}

.container .card{
  background-color: orange;
  padding: 0px;
  margin-top: 0px;
  border-radius: 5px;
}

.container .card .blogimg{
  background-color: #aaa;
  width: 100%;
  padding: 0px;
  border-radius: 5px;
}
