h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: tomato;
}

h2 {
  color: tomato;
}

img {
  max-height: 50%;
  width: 100%;
}
pre {
  background-image: MEAT AND POTATOES/images/("onmyputer.jpg");
}
